<% layout('/layouts/Boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Edit your Listing</h1>
            <form action="/listings/<%= listing._id %>?_method=PUT"
                 method="POST" novalidate class="needs-validation" 
                 enctype="multipart/form-data"
            >
                <!-- Title Field -->
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" required class="form-control">
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <!-- Description Field -->
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <textarea id="description" name="listing[description]" required class="form-control"><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter the short description.</div>
                </div>

                <!-- Category Field -->
                <div class="mb-3">
                    <label for="category">Category:</label>
                    <select id="category" name="listing[category]" class="form-control" required>
                        <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
                        <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>Rooms</option>
                        <option value="iconic-cities" <%= listing.category === "iconic-cities" ? "selected" : "" %>>Iconic Cities</option>
                        <option value="castles" <%= listing.category === "castles" ? "selected" : "" %>>Castles</option>
                        <option value="pools" <%= listing.category === "pools" ? "selected" : "" %>>Amazing Pools</option>
                        <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
                        <option value="farms" <%= listing.category === "farms" ? "selected" : "" %>>Farms</option>
                        <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
                        <option value="domes" <%= listing.category === "domes" ? "selected" : "" %>>Domes</option>
                        <option value="boats" <%= listing.category === "boats" ? "selected" : "" %>>Boats</option>
                    </select>
                    <div class="invalid-feedback">Please select a category.</div>
                </div>

                <!-- Image  Field -->
                <div class="mb-3">
                    <label for="image">Upload New Image:</label>
                    <input type="file" 
                    id="image" name="listing[image]" 
                    class="form-control"
                    >
                </div>
            
                <!-- Price and Country Fields -->
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price">Price:</label>
                        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" required class="form-control">
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>
        
                    <div class="mb-3 col-md-8">
                        <label for="country">Country:</label>
                        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" required class="form-control">
                        <div class="invalid-feedback">Please enter the country!</div>
                    </div>
                </div>

                <!-- Location Field -->
                <div class="mb-3">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" required class="form-control">
                    <div class="invalid-feedback">Please enter a valid location!</div>
                </div>
                
                <!-- Submit Button -->
                <br/><br/>
                <button type="submit" class="btn btn-dark upd-btn">Update Listing</button>
            </form>
        </div>
    </div>
    <script src="/public/js/script.js"></script>
</body>